<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>診断ページ</title>
    <link rel="stylesheet" href="images/stylesheet.css">
</head>
<body>
    <div class="background">      
        <form action="/result" method="POST">    <!--バック側へ送信するためのタグ、バック側のPythonファイル名を代入-->
            <div class="question">
                <p>Q1</p>
                <p>結果より過程を重視する</p>
                <p>
                    <input type="radio" name="question1" value="1" id="yes">
                    <label for="yes">yes</label>
                    <input type="radio" name="question1" value="2" id="no">
                    <label for="no">no</label>
                </p>
            </div>
            <div class="question">
                <p>Q2</p>
                <p>jjjjjjj</p>
                <p>
                    <input type="radio" name="question2" value="1" id="yes">
                    <label for="yes">yes</label>
                    <input type="radio" name="question2" value="2" id="no">
                    <label for="no">no</label>
                </p>
            </div>
            <div class="question">
                <p>Q3</p>
                <p>7777777</p>
                <p>
                    <input type="radio" name="question3" value="1" id="yes">
                    <label for="yes">yes</label>
                    <input type="radio" name="question3" value="2" id="no">
                    <label for="no">no</label>
                </p>
            </div>
            <div class="question">
                <p>Q4</p>
                <p>9898989898</p>
                <p>
                    <input type="radio" name="question4" value="1" id="yes">
                    <label for="yes">yes</label>
                    <input type="radio" name="question4" value="2" id="no">
                    <label for="no">no</label>
                </p>
            </div>
            <div class="question">
                <p>Q5</p>
                <p>dddddd</p>
                <p>
                    <input type="radio" name="question5" value="1" id="yes">
                    <label for="yes">yes</label>
                    <input type="radio" name="question5" value="2" id="no">
                    <label for="no">no</label>
                </p>
            </div>
            <div class="question">
                <p>Q6</p>
                <p>eeeeee</p>
                <p>
                    <input type="radio" name="question6" value="1" id="yes">
                    <label for="yes">yes</label>
                    <input type="radio" name="question6" value="2" id="no">
                    <label for="no">no</label>
                </p>
            </div>
            <div class="question">
                <p>Q7</p>
                <p>ffffff</p>
                <p>
                    <input type="radio" name="question7" value="1" id="yes">
                    <label for="yes">yes</label>
                    <input type="radio" name="question7" value="2" id="no">
                    <label for="no">no</label>
                </p>
            </div>
            <div class="question">
                <p>Q8</p>
                <p>gggggg</p>
                <p>
                    <input type="radio" name="question8" value="1" id="yes">
                    <label for="yes">yes</label>
                    <input type="radio" name="question8" value="2" id="no">
                    <label for="no">no</label>
                </p>
            </div>
            <div class="question">
                <p>Q9</p>
                <p>hhhhhh</p>
                <p>
                    <input type="radio" name="question9" value="1" id="yes">
                    <label for="yes">yes</label>
                    <input type="radio" name="question9" value="2" id="no">
                    <label for="no">no</label>
                </p>
            </div>
            <div class="question">
                <p>Q10</p>
                <p>iiiiii</p>
                <p>
                    <input type="radio" name="question10" value="1" id="yes">
                    <label for="yes">yes</label>
                    <input type="radio" name="question10" value="2" id="no">
                    <label for="no">no</label>
                </p>
            </div>
            <input type="submit" value="回答を送信！">
        </form>
    </div>
</body>
</html>